footer {
	position: relative;
	background: linear-gradient(to right, #f4b7c3, #ec9ea6, #f2b99c, #f1c897);
	padding: 115px 0 25px 0;
	h2 {
		text-align: center;
		span {
			font-weight: 300;
		}
	}
	.banner {
		margin-top: 40px;
		margin-bottom: 40px;
	}
	.footer-form {
		margin-top: 35px;
		input {
			border: 1px solid #aeaeae;
			border-radius: 50px;
			font-family: $mont-font;
			font-weight: 300;
			font-style: italic;
			font-size: 16px;
			color: #1b1b1b;
			padding: 16px 0 16px 20px;
			outline: none;
			width: 100%;
		}
		.red-btn {
			margin-top: 0;
			border: none;
			outline: none;
			cursor: pointer;
		}
		.btn-block {
			display: flex;
			justify-content: center;
		}
	}
	.copyright {
		p {
			font-family: $mont-font;
			font-weight: 800;
			font-size: 16px;
			color: #1b1b1b;
			text-align: center;
			text-transform: uppercase;
			span {
				font-weight: 300;
			}
		}
	}
	.slider {
		position: relative;
		margin-bottom: 90px;
		margin-top: 45px;
	}
	.slick-arrow {
		position: absolute;
		top: 50%;
		margin-top: -32px;
		border: none;
		outline: none;
		cursor: pointer;
		z-index: 1200;
	}
	.slick-prev {
		left: -20px;
		background: url("../img/slider-arrow-left.png") no-repeat center;
		width: 20px;
		height: 63px;
		background-size: contain;
	}
	.slick-next {
		right: 10px;
		background: url("../img/slider-arrow-right.png") no-repeat center;
		width: 20px;
		height: 63px;
		background-size: contain;
	}
	.slider-item {
		margin-right: 30px;
		img {
			width: 100%;
		}
	}
}
