.section-5 {
	padding: 80px 0 40px 0;
	.title {
		text-align: center;
	}
	h2 {
		display: inline-block;
		font-size: 42px;
		color: #c29739;
		border-bottom: 2px solid #c29739;
	}
	.conditions-main-block {
		position: relative;
		height: 200px;
		margin-top: 20px;
		.absolute-img {
			position: absolute;
			bottom: -14px;
			right: 15px;
		}
	}
	.conditions-block {
		background: rgba(194, 151, 57, .04);
		height: 100%;
		padding: 30px 0 0 30px;
		p {
			font-size: 17px;
			font-weight: 400;
			color: #ffffff;
			text-align: left;
			&:first-child {
				font-weight: 600;
			}
		}
	}
}