.section-4 {
	background: #c29739;
	padding: 65px 0 73px 0;
	.section-4_bg {
		background: url("../img/groups_bg.png") no-repeat center;
	}
	h2 {
		text-align: center;
	}
	.form-group {
		margin-top: 10px;
		input {
			border: 3px solid #9e7c30;
			background: transparent;
			font-weight: 400;
			font-size: 18px;
			color: #ffffff;
			width: 100%;
			padding: 8px 0 8px 27px;
			outline: none;
		}
		select {
			width: 100%;
			padding: 8px 0 8px 27px;
			border: 3px solid #9e7c30;
			background: transparent;
			color: #ffffff;
			outline: none;
		}
		.form-btn {
			margin-top: 5px;
			border: 3px solid #ffffff;
			text-align: center;
			padding: 10px 0;
			cursor: pointer;
			font-weight: 500;
			font-size: 24px;
			text-transform: uppercase;
			width: 100%;
			background: transparent;
			color: #ffffff;
			border-radius: 5px;
			transition: .3s;
			&:hover {
				background: #ffffff;
				color: #c29739;
			}
		}
	}
	.section-4_img-block {
		display: flex;
		align-items: center;
		height: 100%;
		img {
			width: 100%;
		}
	}
}
::-webkit-input-placeholder {
	color: #ffffff;
}
::-moz-placeholder {
	color: #ffffff;
}
:-moz-placeholder {
	color: #ffffff;
}
:-ms-input-placeholder {
	color: #ffffff;
}