.section-1 {
	background: url("../img/first-bg.png") no-repeat center;
	background-size: cover;
	height: 1080px;
	overflow-x: hidden;
	position: relative;
	.header-img {
		text-align: left;
		margin-top: 40px;
		visibility: hidden;
	}
	.first-title-block {
		display: flex;
		align-items: flex-end;
		visibility: hidden;
	}
	.first-title {
		margin-top: 184px;
		h3 {
			&:first-child {
				border-bottom: 2px solid #c29739;
				padding-bottom: 11px;
			}
			&:last-child {
				padding-top: 11px;
			}
		}
	}
	h3 {
		span {
			font-size: 24px;
			font-weight: 500;
			color: #ffffff;
		}
	}
	.second-title-block {
		margin-top: -205px;
		h2 {
			font-weight: 900;
			font-size: 72px;
			line-height: 60px;
			color: #c29739;
			text-transform: uppercase;
			&:first-child {
				color: #ffffff;
			}
		}
		.second-title {
			display: inline-block;
			margin-left: 70px;
			margin-bottom: 35px;
			visibility: hidden;
		}
		.fours-title, .third-title {
			visibility: hidden;
		}
		h3 {
			color: #ffffff;
		}
	}
	.last-title {
		margin-top: 70px;
		visibility: hidden;
		h3 {
			text-align: center;
			line-height: 48px;
			span {
				color: #ffffff;
				font-weight: 900;
				font-size: 36px;
			}
		}
	}
	.mouse {
		text-align: center;
		margin-top: 106px;
	}
	.house {
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -270px;
	}
}

