@media screen and (max-width: 1500px) {
	.section-6 {
		padding-bottom: 67px;
		.section-6_img {
			img {
				width: 100%;
			}
		}
	}
	.section-6 .title {
		margin-bottom: 40px;
	}
}
@media screen and (max-width: 1199px) {
	.banner .title p {
		font-size: 22px;
	}
	.banner .title p span {
		font-size: 16px;
	}
	.banner .old-price p, .banner .new-price p {
		font-size: 15px;
	}
	.banner .time {
		width: 79px;
		padding: 13px 0;
	}
	.banner .time p:first-child {
		font-size: 26px;
	}
	.banner .time p {
		font-size: 12px;
	}
	.banner .old-price p:last-child {
		margin-left: 14px;
	}
	.section-1 .banner .old-price p:last-child {
		margin-left: 22px;
	}
	.section-5, footer {
		.banner .new-price .new-price_text p:last-child {
			padding: 0 5px;
		}
	}
	.section-3 .title .img-block {
		img {
			width: 100%;
		}
	}
	.section-5_img-block {
		img {
			width: 633px;
		}
	}
	footer .slider-item {
		margin: 0 15px;
	}
	footer .slick-next {
		right: -5px;
	}
	footer .slick-prev {
		left: -5px;
	}
}
@media screen and (max-width: 991px) {
	.section-1 {
		height: auto;
		padding-bottom: 60px;
	}
	.section-1 .header-img {
		margin-top: 0;
		text-align: center;
		img {
			width: 500px;
		}
	}
	.section-1 .banner .pink-block {
		position: relative;
		background: transparent;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		padding: 0;
	}
	.section-1 .banner {
		margin-top: -110px;
	}
	.banner .banner_info {
		padding: 0 160px;
	}
	.banner .old-price p, .banner .new-price p {
		font-size: 18px;
	}
	.banner .time {
		width: 100px;
		padding: 23px 0;
	}
	.section-1 .banner .old-price p:last-child {
		margin-left: 105px;
	}
	.banner .red-btn-block {
		display: flex;
		justify-content: center;
	}
	.section-1 .banner .new-price .arrow {
		left: 82%;
	}
	.banner .new-price .arrow {
		top: 26px;
		transform: rotate(90deg);
	}
	.section-1 .banner .red-btn {
		margin-top: 30px;
	}
	.section-3 .item .item_arrow {
		display: none;
	}
	.section-5 {
		padding: 50px 0 60px 0;
	}
	.section-5 .section-5_img-block {
		text-align: right;
		margin: 20px 0;
	}
	.banner .old-price p:last-child {
		margin-left: 151px;
	}
	.banner .red-btn {
		margin-top: 35px;
	}
	.section-6 {
		padding-bottom: 0;
	}
	.section-6 .section-6_img {
		text-align: center;
	}
	.section-6 .section-6_img img {
		width: 50%;
	}
	.section-7 {
		height: auto;
		padding-bottom: 40px;
	}
	.section-7 .feedback {
		text-align: center;
		margin-top: 30px;
	}
	footer {
		padding: 70px 0 25px 0;
		.form-group {
			padding: 0 15px;
			margin-bottom: 20px;
		}
	}
	header .header-menu {
		justify-content: flex-end;
		.navbar-collapse {
			position: absolute;
			top: 85%;
			right: 0;
			width: 160px;
			z-index: 5;
		}
	}
	header .header-menu ul li {
		margin-left: 0;
	}
	header .menu-btn {
		display: block;
		background: url("../img/burger.png") no-repeat;
		background-size: contain;
		width: 30px;
		height: 30px;
		cursor: pointer;
	}
}
@media screen and (max-width: 767px) {
	header .logo {
		text-align: left;
	}
	.banner .banner_info {
		padding: 0 72px;
	}
	.section-2 {
		padding: 40px 0 70px 0;
	}
	h3 {
		font-size: 22px;
	}
	h2 {
		font-size: 21px;
		line-height: 27px;
	}
	.section-2 .section-2_title h2 {
		margin-bottom: 0;
	}
	.section-2 .section-2_title p {
		font-size: 20px;
	}
	.section-3 .red-text p {
		font-size: 16px;
	}
	.section-5 h2 {
		margin-top: 20px;
		text-align: center;
	}
	.section-6 {
		padding-top: 0;
	}
	.section-6 .title p {
		font-size: 16px;
	}
	.section-6 .list li p {
		font-size: 14px;
	}
	.section-6 .list li p:first-child {
		font-size: 18px;
	}
	.section-6 .list li:last-child {
		padding-bottom: 13px;
	}
	.section-7 {
		padding-top: 45px;
	}
	.section-7 .title p {
		font-size: 16px;
	}
	.section-7 .feedback-text p:first-child {
		margin-bottom: 10px;
	}
	footer .slider-item {
		display: flex!important;
		justify-content: center;
	}
	footer .slider-item img {
		width: auto;
		height: 450px;
	}
	.title-banner p {
		font-size: 27px;
	}
}
@media screen and (max-width: 575px) {
	footer .slick-prev {
		left: 15px;
	}
	footer .slick-next {
		right: 15px;
	}
	.banner .new-price .new-price_text {
		justify-content: flex-start;
	}
	.section-1 .banner .new-price .new-price_text p:last-child {
		margin-right: 0;
		margin-left: 93px;
	}
	.section-1 .banner .new-price .arrow {
		left: 324px;
	}
	.banner .new-price .new-price_text p:last-child {
		margin-left: 93px;
	}
	.banner .old-price p:last-child {
		margin-left: 97px;
	}
	.banner .new-price .arrow {
		left: 317px;
	}
}
@media screen and (max-width: 507px) {
	.section-1 .banner .new-price .new-price_text p:last-child {
		margin-left: 40px;
	}
	.section-1 .banner .old-price p:last-child {
		margin-left: 51px;
	}
	.section-1 .banner .new-price .arrow {
		left: 300px;
	}
	.section-5_img-block img {
		width: 387px;
	}
	.title-banner p {
		font-size: 23px;
	}
	.banner .title p {
		font-size: 18px;
	}
	.banner .new-price .new-price_text p:last-child {
		margin-left: 40px;
	}
	.banner .old-price p:last-child {
		margin-left: 43px;
	}
	.banner .new-price .arrow {
		left: 278px;
	}
	h1 {
		font-size: 36px;
	}
}
@media screen and (max-width: 453px) {
	.banner .banner_info {
		padding: 0 38px;
	}
	h3 {
		font-size: 18px;
		line-height: 20px;
	}
	.section-7 .feedback {
		img {
			width: 100%;
		}
	}
	.title-banner p {
		font-size: 20px;
	}
}
@media screen and (max-width: 411px) {
	.section-1 .banner .new-price .arrow {
		display: none;
	}
	.banner .new-price .arrow {
		display: none;
	}
	.banner .red-btn {
		padding: 9px 30px;
		font-size: 18px;
	}
	footer .footer-form input {
		padding: 10px 0 10px 20px;
	}
	.section-1 .header-title h1:after {
		display: none;
	}
}
@media screen and (max-width: 386px) {
	.banner .banner_info {
		padding: 0 15px;
	}
	.banner .old-price p, .banner .new-price p {
		font-size: 16px;
	}
	.banner .old-price, .banner .new-price {
		padding-left: 15px;
	}
}
@media screen and (max-width: 375px) {
	h1 {
		font-size: 31px;
	}
	.section-1 .header-title .header-title_list .item p {
		font-size: 16px;
	}
	.section-1 .banner .new-price .new-price_text p:last-child {
		margin-left: 19px;
	}
	.section-1 .banner .old-price p:last-child {
		margin-left: 30px;
	}
	.banner .new-price .new-price_text p:last-child {
		margin-left: 19px;
	}
	.banner .old-price p:last-child {
		margin-left: 23px;
	}
	.banner .time {
		width: 85px;
		padding: 15px 0;
	}
	footer .slick-next {
		right: 5px;
	}
	footer .slick-prev {
		left: 5px;
	}
	footer .slider {
		margin-bottom: 40px;
	}
}